<!-- Page nouveau gossip-->
<div class='container my-5 py-4 '>

  <!-- Message alerte-->
  <% if flash[:messages] %>

    <div class="container p-1 text-center alert  alert-danger" role="alert">

      <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>

      <ul>
        <% flash[:messages].each do |message| %>
          <li><%=message%></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <!-- input et boutons-->
  <%= form_tag url_for(action: 'create'), method: "post" do %>

    <div class='form-group'>

      <label>Titre du P<span class='red'>o</span>tin</label><br>
      <%= text_field_tag 'title',"", class: 'form-control'%>

    </div>

    <br>

    <div class='form-group'>

      <label>Contenu du P<span class='red'>o</span>tin</label><br>
      <%= text_area_tag 'content',"", class:'form-control'%>

    </div>

    <br>

    <div class='form-group'>

      <button type=submit class='btn btn-success'>Créer le Potin</button>

    </div>
  <% end %>
</div>

<!-- image-->
<div class='pink2 containerfluid'>
</div>
