<!-- Page contact-->
<div class='p-5'>

  <div class='container border border-warning rounded-3 border-5 mt-5 p-4 '>

    <h3 class='text-center'>Vous vouvez nous contacter<br>Pour vous plaindre d'apparaitre dans des p<span class='red'>o</span>tins<br>...par exemple</h3>
    <hr class='border border-1 border-warning'>
    <h4>Envoyez un email à :</h4>
    <p>attends_toujours_une_reponse@pigeon.wah</p>
    <h4>Ou appelez le :</h4>
    <p>0890 00 25 12 (numéro du père noël)</p>
    
  </div>
</div>

