<!-- Page Team -->
<div class='containerfluid '>

  <div class ='containerfluid py-4'>

    <h3 class='text-center'>La team</h3>
    <h2 class='text-center'>P<span class='red'>o</span>wer C<span class='red'>o</span>ders</h2>

  </div>

  <div class='containerfluid bg-light'>

    <div class='container py-3'>

      <p>Salut la famille. Je te présente les Power Coders une team de futur-développeur<br>
      Toujours prêt à sortir les claviers(...on pense au clavier mécanique très bruyant d'Antho).<br>
      Au menu tu trouveras:</p>

      <ul>
        <li>Antho alias Le Vibro - <span class='red'>Force rouge</span></li>
        <li>Pascaline alias la fille du groupe... (pas de sexisme chez THP) - <span class='pink'>Force rose</span></li></li>
        <li>Xabi alias Xabi - <span class='yellow'>Force jaune</span></li></li>
      <ul>

    </div>
  </div>

  <div class='containerfluid text-center'>
    <img src='assets/powercoders.jpeg' alt='powercoders' class='rounded'>
  </div>
</div>