<!-- Page secrète -->

<div class='bg-light text-center p-3'>

  <h3>Tu as trouvé l'espace secret ....</h3>
  <p class='text-muted'>Grâce à l'URL secrète</p>
  <i class="fas fa-user-secret fa-7x"></i>

</div>

<div class='container p-3'>

  <h4>Bienvenue <%=params[:first_name].capitalize%> !</h4>
  <hr class='border border-1 border-danger'>
  <p>As tu visiter notre site de potins ?<br>
  Il est chouette ? hein ?</p>
  
</div>